body {
    width:100%; height:100%;
    font-family:verdana;
    padding:0; margin:0;
}

#containerTabela {
    border-radius:5px;
    background-color:white;
    width:100%; 
    padding-bottom:2%;
}

#tabelaEventos {
    text-align: center;
    font-size:40px;
    width:100%;
}

#tabelaEventos tr th {
    border:solid;
}

#addEvento {
    width:100%;
}

#dialog {
    width:50%;
    height:80%;
    border-radius:5px;
}

#formJanela {
    text-align:center;
    border-radius:5px;
}